.App {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 70px;
}

body {
  padding-top: 90px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 600px;
}


.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 20px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-ul-left, .nav-ul-right {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-ul-left {
  padding-left: 0;
  font-size: 30px;
  font-weight: bold;
}

.nav-ul-left a, .nav-ul-right a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.home {
  padding-top: 90px;
  position: relative;
}

.home-sec-1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 650px;
  background-image: url("../public/main_bg.jpg");
}

.home-sec-1 h1 {
  font-size: 80px;
  margin: 0px;
}

.order-btn {
  padding: 30px 50px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.home-sec-2 {
  height: 500px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.home-sec-2 h1 {
  font-size: 50px;
  margin: 0px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 40px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
}

.login-form input[type='text'] {
  margin: 5px 0px;
  padding: 10px 10px;
}

.login-form input[type='text']::placeholder {
  /* font-size: 20px; */
}

.login-form input[type="button"] {
  margin: 5px;
  padding: 12px 10px;
  width: 100%;
  background: white;
  border: none;
  cursor: pointer;
  transition: background 0.15s;
}

.login-form input[type="button"]:hover {
  background: rgb(185, 185, 185);
}

.login-form input[type='text']:focus {
  outline: none;
}


.login-form p, .login-form a {
  font-size: 13px;
  margin: 0;
  text-decoration: none;
}

.login-form a {
  color: white;
  cursor: pointer;
}

.home-sec-3 {
  padding: 40px;
  display: flex;
  flex-direction: column;
}