.App {
  background-image: url("https://images.wallpapersden.com/image/download/amazing-desert-hd-cool-aesthetic_bWpoammUmZqaraWkpJRmbmdlrWZlbWU.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}